<% layout('layout/page') -%>
<% block('title', "Mainpage") -%>

<div id="root"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/bundles/CanvasBundle.js" charset="utf-8"></script>
